
@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Medium.eot');
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
		url('fonts/GothamPro-Medium.eot') format('embedded-opentype'),
		url('fonts/GothamPro-Medium.woff') format('woff'),
		url('fonts/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url('fonts/GothamPro-Bold.eot') format('embedded-opentype'),
		url('fonts/GothamPro-Bold.woff') format('woff'),
		url('fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Light.eot');
	src: local('Gotham Pro Light'), local('GothamPro-Light'),
		url('fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Light.woff') format('woff'),
		url('fonts/GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Black.eot');
	src: local('Gotham Pro Black'), local('GothamPro-Black'),
		url('fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Black.woff') format('woff'),
		url('fonts/GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url('GothamPro.eot?#iefix') format('embedded-opentype'),
		url('GothamPro.woff') format('woff'),
		url('GothamPro.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}


body{
font-family:'Gotham Pro', sans-serif;
height: 100%;
width: 100%;
padding: 0;
margin: 0;
background-color: #FFFFFF;
color: #000000;
}

a{
text-decoration: none;
}

/*h1{
	margin-left: 0;
	/*padding-left: 0;
}*/

.header{
height: 768px;
background-image: url(img/main-screen_bg.jpg);

}

.header-wrapper{
padding-top: 37px;
width: 1136px;
display: flex;
margin: 0 auto;

}

.logo-text{
display: inline-block;
margin-top: 7px;
font-weight: 500;
font-size: 20px;
line-height: 22px;
text-transform: uppercase;
}

.header-title{
color: #132A82;
font-weight: 900;
font-size: 48px;
line-height: 72px;
text-transform: uppercase;
margin-left: -3px;
}

.product-img{
margin-top: -30px;
margin-left: 7px;
}

.first-column_wrapper{
display: flex;

}

.product-benefits{
margin-left: 58px;
margin-top: -10px;
}

.benefits-item{
width: 305px;
background-color: #FFFFFF;
color: rgba(0, 0, 0, 0.95);
margin-bottom: 16px;
border-radius: 3px;
font-weight: 500;
font-size: 20px;
line-height: 22px;
padding-top: 17px;
padding-bottom: 11px;
padding-left: 79px;
position: relative;
}

.benefits-item::before{
position: absolute;
content: "";
width: 48px;
height: 48px;
background-image: url(img/check-mark.svg);
top: 13px;
left: 25px;
}

.red-text{
	color: #E85252;
}

.offer{
width: 368px;
height: 648px;
margin-left: 56px;
margin-top: 18px;
background-color: #FFFFFF;
border-radius: 4px;
text-align: center;
}

.offer-counter{
border-radius: 4px;
padding-top: 6px;
background-color: #F9F9F9;
height: 200px;

}

.offer-title{
font-weight: 700;	
font-size: 26px;
line-height: 25px;
margin-left: 7px;
color: rgba(0, 0, 0, 0.95);
}

.counter-wrapper{
display: flex;
justify-content: space-between;
width: 265px;
margin: 7px auto 0;
position: relative;
}

.counter-item{
display: flex;
flex-direction: column;
position: relative;
}

.counter-numbers{
color: #E85252;
border-radius: 50%;
border: 1px dashed #E85252;
font-weight: 700;
font-size: 26px;
line-height: 28px;
padding: 22px 17px 21px;
display: block;
}

.counter-item:not(:last-child):after{
position: absolute;
content: ":";
font-weight: 700;
color: #000000;
font-size: 26px;
top: 20px;
left: 80px;
}

.counter-subtitle{
font-weight: 400;
display: block;
margin-top: 10px;
font-size: 18px;
line-height: 17px;

}


.new-price{
display: block;
margin-top: -6px;
margin-left: 5px;
color:#E85252;	
font-weight: 700;
font-size: 48px;
line-height: 46px;
}

.old-price{
display: block;
font-weight: 400px;
text-decoration-line: line-through;
font-size: 30px;
line-height: 29px;
color: rgba(0, 0, 0, 0.95);
margin-top: 10px;
padding-bottom: 12px;
}

.order-form{
margin-top: 3px;
margin-left: 8px;
}

.input-field{
width: 277px;
padding-top: 11px;
padding-bottom: 12px;
padding-left: 15px;
margin-bottom: 8px;
font-size: 18px;
line-height: 17px;
color: #000000;
font-weight: normal;
font-family:'Gotham Pro', sans-serif;
}

.input-field::placeholder{
font-size: 18px;
line-height: 17px;
color: #000000;
font-weight: normal;
}


.select-wrap{
position: relative;
display: inline-block;
}

.select-wrap::after{
content: "";
position: absolute;
width: 12px;
height: 8px;
background-image: url(/img/select.svg);
top: 20px;
left: 255px;
z-index: 1;
}

.input_select{
width: 295px;
position: relative;
padding-right: 13px;
display: inline-block;
padding-top: 14px;
padding-bottom: 15px;
padding-left: 15px;
}

select{
padding-right: 25px;
-webkit-appearance: none; 
-moz-appearance: none;
appearance: none;
}

.order-btn{
margin-top: 11px;
padding: 19px 105px 18px;
border-radius: 30px;
background-color: #E85252;
color: #FFFFFF;
border: 0;
outline: none;
font-size: 20px;
line-height: 19px;
font-weight: 700;
transition: .2s ease;
}

.order-btn:hover,:focus{
box-shadow: inset 0px 4px 30px -1px rgba(0, 0, 0, 0.2);	

}

.middle{
padding: 32px 0;
background-color: #DEF0F6;
}

.center-block{
display: flex;
margin: 0 auto;
width: 1136px;
height: 232px;
background-color: #FFFFFF;
overflow: hidden;
}

.middle-counter{
background-color: #FFFFFF;
}
	
.center-wrapper{
width: 367px;
height: 367px;
border-radius: 50%;
background-color: #DEF0F6;
border: 28px solid #74E4F8;
display: flex;
flex-direction: column;
margin-top: -100px;
margin-left: 45px;
}

.product-img_small{
margin: 75px 85px 0;
}

.middle-btn{
padding: 19px 90px 18px;
margin: -60px auto 0;
}


.middle-price{
margin-top: 25px;
margin-left: -5px;
text-align: center;
}
	
.middle-counter{
margin-top: 15px;
margin-left: 50px;
}

.surface{
height: 712px;
background-color: #D2E7EB;
overflow: hidden;
}

.center-circle{
width: 1137px;
height: 1143px;
border-radius: 50%;
background-color: #F7F9FB;
margin: -212px auto 0;
background-image: url(img/logo_big.svg);
background-size: 56%;
background-position: center;
background-repeat: no-repeat;
position: relative;
}

.surface-content{
position: absolute;
text-align: center;
top: 212px;
left: 150px;
}

.surface-title{
margin-top: 50px;
color: #132A82;
font-weight: 700px;
font-size: 40px;
line-height: 56px;
}

.surface-wrap{
margin: 0 auto;
width: 735px;
margin-top: -10px;
}

.wrap-container{
display: flex;	
justify-content: space-between;
width: 735px;
}

.container_bottom{
margin-top: 25px;
position: relative;
}

.surface-item{
display: flex;
flex-direction: column;
text-align: center;
}

.item_bottle{
position: absolute;
top: -57px;
left: 320px;
}

.surface-subtitle{
font-size: 18px;
line-height: 24px;
font-weight: 500;
margin-top: 5px;
}